.card{
    height: 14rem;
    width: 14rem;
    border-radius: 7px !important;
}
.page-title{
    margin:2rem 0 3rem 0;
}
.icon{
    margin-top: 1rem;
    font-size: 30px;      
	background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}
.card-title{
    font-size: 14px;
    color: #FF578C;
}
.card-text{
    color: #F8FFFF;
font-size: 12px;
}